.box {
  margin-top: 2em;
  padding: 2em;
  min-height: 129px;

  .box-header {
    h3 {
      margin-top: 0;
    }

    sbb-icon-speaker {
      float: right;
      cursor: pointer;
    }
  }

  background: #f6f6f6;
}
