.section {
  display: flex;
  justify-content: space-between;
}

.action-button {
  width: 30%;
  margin: 2em 0 2em 0;
}

.lan-select {
  width: 30%;
}

.box {
  margin-top: 2em;
  padding: 2em;

  .box-header {
    h3 {
      margin-top: 0em;
    }
  }

  background: #f6f6f6;
  width: 48%;
}
