<h1 translate>TITLE</h1>
<div class="section">
  <button class="action-button" sbbButton *ngIf="!listening" (click)="listen()" translate>
    <sbb-icon-two-speech-bubbles *sbbButtonIcon></sbb-icon-two-speech-bubbles>
    LISTEN
  </button>
  <button class="action-button" sbbButton *ngIf="listening" (click)="stopListening()" translate>
    <sbb-icon-cross *sbbButtonIcon></sbb-icon-cross>
    STOP.LISTENING
  </button>
  <button class="action-button" sbbButton mode="secondary" (click)="reset()" translate>
    <sbb-icon-arrows-circle *sbbButtonIcon></sbb-icon-arrows-circle>
    RESET
  </button>
  <button class="action-button" sbbButton mode="ghost" (click)="speak()" translate>
    <sbb-icon-speaker *sbbButtonIcon></sbb-icon-speaker>
    READ.OUT
  </button>
</div>
<div class="section">
  <sbb-field class="lan-select" mode="long">
    <sbb-label>{{'OUTPUT.LANGUAGE' | translate}}</sbb-label>
    <sbb-select
      [(ngModel)]="outputLang">
      <sbb-option *ngFor="let lan of translate.getLangs()" [value]="lan" translate>{{lan}}</sbb-option>
    </sbb-select>
  </sbb-field>
  <sbb-loading
    *ngIf="listening" mode="medium"
    aria-valuetext="Loading please wait"
  ></sbb-loading>
</div>

<h2 translate>TULPEN.MAGIC</h2>
<div class="section">
  <div class="box">
    <div class="box-header"><h3 translate>RECOGNIZED.INPUT</h3></div>
    <div class="box-content">
      <p>hello world</p>
      <p *ngIf="(recognisedText$ | async) as rt">{{ rt }}</p>
    </div>
  </div>
  <div class="box">
    <div class="box-header"><h3 translate>TRANSLATION</h3></div>
    <div class="box-content">
      <p *ngIf="(translatedResult$ | async)?.text as tr">{{ tr }}</p>
    </div>
  </div>
</div>
