/* You can add global styles to this file, and also import other style files */
@import '../node_modules/esta-webjs-extensions/styles/esta-extension-styles.scss';
@import '../node_modules/@sbb-esta/angular-public/typography.css';

// to remove blue border
*:focus {
  outline: 0;
}

h1 {
  margin-top: 2em;
}

h2 {
  margin-top: 1em;
}
